@page
@model ProyectoCiclo3.App.Frontend.Pages.EditEstacionModel
@{
    var estacion = Model.Estacion;
}

<div class="text-center">
<form method="POST">
    <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id" readonly>
    <label for="nombre" class = "form-label"><b>Nombre:</b></label>
    <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre" asp-for="@estacion.nombre">
    <label for="direccion" class="form-label"><b>Direccion:</b></label>
    <input type="text" class="form-control" id="direccion" name="direccion" required placeholder="Direccion" asp-for="@estacion.direccion">
    <label for="coord_x" class="form-label"><b>Coordenada X:</b></label>
    <input type="text" class="form-control" id="coord_x" name="coord_x" required placeholder="Coordenada X" asp-for="@estacion.coord_x">
    <label for="coord_y" class="form-label"><b>Coordenada Y:</b></label>
    <input type="text" class="form-control" id="coord_y" name="coord_y" required placeholder="Coordenada Y" asp-for="@estacion.coord_y">
    <label for="tipo"><b>Tipo:</b></label>
    <select name="tipo" id="tipo" class="form-control" required asp-for="@estacion.tipo">
        <option value="">Seleccione el tipo</option>
        <option value="Principal">Principal</option>
        <option value="Segundaria">Segundaria</option>
    </select>
  <hr>
  <button type="submit" class="btn btn-success"><b>Actualizar</b></button>
</form>
</div>